@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Smiley;
    src: url('../assets/fonts/SmileySans-Oblique.otf') format('opentype'),
        url('../assets/fonts/SmileySans-Oblique.ttf') format('truetype'),
        url('../assets/fonts/SmileySans-Oblique.ttf.woff2') format('woff2'),
        url('../assets/fonts/SmileySans-Oblique.otf.woff2') format('woff2');
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-family: Smiley, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    @apply text-4xl p-6 transition-all
    rounded-hand-drawn-0 border-4 border-black
    hover:bg-gray-200 hover:rounded-hand-drawn-3 hover:font-extrabold
}
